/* Reset básico */
.fondo-login {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../img/monte-fuji.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fondo-home {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../img/fondo-home 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fondo-registro {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../img/fondo-home 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fondo-crisis {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../img/fondo-home 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fondo-configuracion {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../img/fondo-home 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fondo-perfil {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../img/fondo-home 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fondo-datos_personales {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../img/fondo-home 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Contenedor del login */
.formulario {
    width: 450px;
    height: 450px;
    margin: auto;
    position: relative;
    top: 170px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(6px);
    padding: 25px;
    border-radius: 12px;
    z-index: 1;
}

.logo-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}

.logo-login {
    width: 120px;
    height: auto;
    opacity: 0.95;
}

/* Título */
.formulario h2 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
}

/* Formulario interno */
.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

/* Grupo de entrada */
form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

/* Input */
.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/* Label flotante */
.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s ease;
}

/* Animación flotante */
.username input:focus ~ label,
.username input:valid ~ label {
    top: -5px;
    color: #000000;
    font-size: 14px;
}

/* Contraseña Incorrecta */
.error {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: red;
}

/* Link para recuperar contraseña */
.recordar {
    color: #66CEA8;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
}

.recordar:hover {
    text-decoration: underline;
}

/* Botón */
button[type="submit"] {
    width: 100%;
    height: 45px;
    border: none;
    background: #439778;
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: .3s;
}

/* Hover real */
button[type="submit"]:hover {
    background: #2e6e54;
}

/* Registro */
.registrarse {
    margin-top: 25px;
    text-align: center;
    font-size: 16px;
    color: #000000;
}

.registrarse a {
    color: #66CEA8;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}

/* formulario registro */
.registro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f8f8;
    width: 450px;
    padding: 20px 40px;
    border-radius: 12px;
    box-sizing: border-box;
}

.registro h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    position: relative;
    margin: 25px 0;
    border-bottom: 2px solid #adadad;
}

.form-group input {
    width: 100%;
    padding: 8px 5px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label {
    top: -5px;
    font-size: 14px;
    color: #000;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

.btn-registrarme {
    width: 100%;
    height: 45px;
    background: #439778;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s;
}

.btn-registrarme:hover {
    background: #2e6e54;
}

/* Navegador */
.header {
    width: 100%;
    background: #439778;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 170px;
    height: 45px;
}

.navbar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #ffffff;
    padding-top: 80px;
    transition: right 0.3s ease-in-out;
    box-shadow: -3px 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 20px 0;
}

.navbar a {
    color: #439778;
    font-size: 18px;
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    transition: 0.2s;
}


.navbar a:hover {
    background: #E9F7F2;
    border-radius: 8px;
}

.navbar.active {
    right: 0;
}

#menu {
    display: none;
}
.menu-icono {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 900;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* contenido */
.main-content h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #f3f2f2;
    margin-top: 30px;
    margin-bottom: 10px;
}

.main-content h4 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #f3f2f2;
    margin-bottom: 25px;
}

.main-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* section crisis */
.crisis-content {
    display: block;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    height: 200px;
    text-align: left;
}

.crisis-content h5 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #439778;
}

.crisis-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.4;
    margin-bottom: 20px;
}

.btn-crisis {
    display: inline-block;
    padding: 10px 25px;
    background: #439778;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    margin-top: 10px;
}


.btn-crisis:hover {
    background: #2e6e54;
}


/* section habilidades*/
.habilidades-content {
    display: block;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    height: 200px;
    text-align: left;
}

.habilidades-content h5 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #439778;
}

.habilidades-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.4;
    margin-bottom: 20px;
}

.btn-habilidades {
    display: inline-block;
    padding: 10px 25px;
    background: #439778;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    margin-top: 10px;
}

.btn-habilidades:hover {
    background: #2e6e54;
}

/*Registra nivel de malestar*/
.nivel-box {
    width: 100%;
    height: 45px;
    background: #2ecc71;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: .3s;
}

.nivel-box .nivel-text {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.emoji-line {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 0 5px;
    margin-bottom: 10px;
}

.emoji-line span {
    opacity: 0.4;
    transition: .3s;
}

.emoji-line span.activo {
    opacity: 1;
    transform: scale(1.3);
}


.slider {
    width: 100%;
    appearance: none;
    height: 12px;
    border-radius: 6px;
    background: #d3d3d3;
    outline: none;
    transition: .3s;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 26px;
    height: 26px;
    background: #439778;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.slider::-webkit-slider-thumb:hover {
    background: #2e6e54;
}

.nivel_malestar {
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: relative;
}

.nivel_malestar h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.nivel-box {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    transition: background .4s ease;
}

.nivel-box .nivel-text {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.emoji-line {
    display: flex;
    justify-content: space-between;
    color: #444;
    font-size: 25px;
    padding: 0 5px;
    margin-bottom: 15px;
}

.emoji.activo {
    opacity: 1;
    transform: scale(1.2);
}

.slider {
    width: 100%;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    margin-bottom: 30px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background: #439778;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.slider::-webkit-slider-thumb:hover {
    background: #2e6e54;
}

.botones-navegacion {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-continuar {
    background: #439778;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    display: block;
    margin: 20px auto 0 auto;
}

.btn-continuar:hover {
    background: #2e6e54;
}

.btn-regresar {
    position: absolute;
    top: 15px;
    left: 15px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #439778;
    transition: 0.2s;
}

.btn-home:hover { color: #2e6e54; }
.emoji.activo {
    opacity: 1;
    transform: scale(1.3);
}

/* Perfil */
.perfil {
    max-width: 600px;
    margin: 60px auto;
    padding: 30px 25px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.perfil-header {
    text-align: center;
    margin-bottom: 35px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
    border: 3px solid #66CEA8;
}

.perfil-nombre {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

.perfil-nombre {
    font-weight: 600;
    letter-spacing: 0.3px;
}

.perfil-correo {
    font-size: 15px;
    color: #666;
}

.perfil-opciones {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.perfil-item {
    display: block;
    background: #f4f8f7;
    padding: 15px 18px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 17px;
    color: #333;
    transition: .25s;
    border: 1px solid #e0e0e0;
}

.perfil-item:hover {
    background: #e9f4f1;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* configuracion */

.configuracion {
    max-width: 600px;
    margin: 60px auto;
    padding: 25px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.configuracion h1 {
    text-align: center;
    margin-bottom: 35px;
    color: #333;
}

.config-section {
    margin-bottom: 25px;
}

.config-section h2 {
    font-size: 18px;
    color: #439778;
    margin-bottom: 10px;
}

.config-item {
    display: block;
    background: #f4f8f7;
    padding: 15px 18px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
    transition: .25s;
    border: 1px solid #e0e0e0;
}

.config-item:hover {
    background: #e7f3ef;
    transform: translateY(-2px);
}

.eliminar {
    color: #c0392b;
}

.cerrar-sesion {
    color: #a83225;
    font-weight: 600;
}

/* Datos Personales*/

.datos-personales {
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}

.datos-personales h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

.form-group input {
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    background: #f8f8f8;
}

.form-group input:focus {
    border-color: #66CEA8;
    background: #ffffff;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #777;
    transition: .3s;
    pointer-events: none;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: -8px;
    left: 10px;
    background: #ffffff;
    padding: 0 4px;
    font-size: 13px;
    color: #439778;
}

.botones-editar {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.btn-cancelar {
    background: transparent;
    border: 2px solid #439778;
    color: #439778;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.btn-cancelar:hover {
    background: #e6f4ef;
}

.btn-guardar {
    background: #439778;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.btn-guardar:hover {
    background: #2e6e54;
}

/* Eliminar cuenta (ventana intermitente */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    justify-content: center;
    align-items: cneter;
    z-index: 1000;
}

.modal-content {
    background: #ffffff;
    padding: 25px;
    width: 85%;
    max-width: 420px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.modal-content h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #333;
}

.modal-content p {
    color: #555;
    margin-bottom: 20px;
    font-size: 15px;
}

.checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-cancelar-modal {
    background: transparent;
    border: 2px solid #439778;
    color: #439778;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    width: 45%;
}

.btn-eliminar-modal {
    background: #c0392b;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    width: 45%;
}