/* Reset básico */
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background: linear-gradient(135deg, #66CEA8, #ffffff);
    height: 100vh;
}

/* Contenedor del login */
.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: #f8f8f8;
    border-radius: 12px;
    
    width: 90%;
    max-width: 400px;
    padding-bottom: 20px;
}

/* Título */
.formulario h2 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
}

/* Formulario interno */
.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

/* Grupo de entrada */
form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

/* Input */
.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/* Label flotante */
.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s ease;
}

/* Animación flotante */
.username input:focus ~ label,
.username input:valid ~ label {
    top: -5px;
    color: #000000;
    font-size: 14px;
}

/* Contraseña Incorrecta */
.error {
    color: #d9534f;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
    display: none;
}

/* Link para recuperar contraseña */
.recordar {
    color: #66CEA8;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
}

.recordar:hover {
    text-decoration: underline;
}

/* Botón */
button[type="submit"] {
    width: 100%;
    height: 45px;
    border: none;
    background: #439778;
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: .3s;
}

/* Hover real */
button[type="submit"]:hover {
    background: #2e6e54;
}

/* Registro */
.registrarse {
    margin-top: 25px;
    text-align: center;
    font-size: 16px;
    color: #000000;
}

.registrarse a {
    color: #66CEA8;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}

/* formulario registro */
.registro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f8f8f8;
    width: 450px;
    padding: 20px 40px;
    border-radius: 12px;
    box-sizing: border-box;
}

.registro h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    position: relative;
    margin: 25px 0;
    border-bottom: 2px solid #adadad;
}

.form-group input {
    width: 100%;
    padding: 8px 5px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label {
    top: -5px;
    font-size: 14px;
    color: #000;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

.btn-registrarme {
    width: 100%;
    height: 45px;
    background: #439778;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s;
}

.btn-registrarme:hover {
    background: #2e6e54;
}

/* Navegador */
.header {
    width: 100%;
    background: #f8f8f8;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 170px;
    height: 45px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: .3s;
}

.navbar a:hover {
    color: #439778;
}

#menu,
.menu-icono {
    display: none;
}

/* contenido */
.main-content h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #f3f2f2;
    margin-top: 30px;
    margin-bottom: 10px;
}

.main-content h4 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #f3f2f2;
    margin-bottom: 25px;
}

.main-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* section crisis */
.crisis-content {
    background: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.crisis-content h5 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #439778;
}

.crisis-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.4;
    margin-bottom: 20px;
}

.btn-crisis {
    width: 100%;
    padding: 12px;
    background: #439778;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.btn-crisis:hover {
    background: #2e6e54;
}

/* section habilidades*/
.habilidades-content {
    background: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.habilidades-content h5 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #439778;
}

.habilidades-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.4;
    margin-bottom: 20px;
}

.btn-habilidades {
    width: 100%;
    padding: 12px;
    background: #439778;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.btn-habilidades:hover {
    background: #2e6e54;
}

/*Registra nivel de malestar*/
.nivel-box {
    width: 100%;
    background: #2ecc71;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    transition: .3s;
}

.nivel-box .nivel-text {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.emoji-line {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 0 5px;
    margin-bottom: 10px;
}

.slider {
    width: 100%;
    appearance: none;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    margin-bottom: 5px;
}

.nivel_malestar {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nivel_malestar h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.nivel-box {
    width: 96%;
    background: #2ecc71;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
    transition: .3s;
}

.nivel-box .nivel-text {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.emoji-line {
    display: flex;
    justify-content: space-between;
    color: #444;
    font-size: 24px;
    padding: 0 5px;
    margin-bottom: 10px;
}

.slider {
    width: 100%;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    margin-bottom: 30px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background: #439778;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.slider::-webkit-slider-thumb:hover {
    background: #2e6e54;
}

/* ejercicios DBT */