body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(150deg, #66CEA8, #ffffff);
    height: 100vh;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgb(232, 232, 232);
    border-radius: 10px;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1 px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: #000000;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}

.recordar {
    margin: -5px 0 20px 5px;
    color: #66CEA8;
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

button[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #439778;
    border-radius: 25px;
    font-size: 16px;
    color:#ffffff;
    cursor: pointer;
    outline: none;
}
button[type="submit"]:hower{
    border-color: #275d40;
    transition: .5s;
}

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #000000;
}

.registrarse a{
    color: #66CEA8;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}
