body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(135deg, #66CEA8, #ffffff);
    height: 100vh;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 90%;
    background: #f8f8f8;
    border-radius: 20px;
}

.formulario h1 {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s ease;
}

.username input:focus ~ label,
.username input:valid ~ label{
    top: -5px;
    color: #000000;
    font-size: 14px;
}

.error {
    color: #d9534f;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
    display: none;
}

.recordar {
    color: #66CEA8;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
}

.recordar:hover{
    text-decoration: underline;
}

button[type="submit"]{
    width: 100%;
    height: 45px;
    border: none;
    background: #439778;
    border-radius: 25px;
    font-size: 16px;
    color:#ffffff;
    cursor: pointer;
    outline: .3s;
}
button[type="submit"]:hover{
    border-color: #275d40;
}

.registrarse{
    margin: 25px;
    text-align: center;
    font-size: 16px;
    color: #000000;
}

.registrarse a{
    color: #66CEA8;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}
