{% extends "base.html" %}

{% load static %}

{% block content %}

<body class="fondo-configuracion">
    <header class="header">
    <div class="menu container">
        <a href="{% url 'home' %}" class="logo"><img src="{% static 'imagenes/logo-alt-light-transparent.png' %}" class="logo"></a>

        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="{% static 'imagenes/menu.png' %}" class="menu-icono" alt="Menú">
        </label>

        <nav class="navbar">
                <div class="nav-logo">
                    <img src="{% static 'imagenes/logo-alt-dark-transparent.png' %}" alt="Hikari">
                </div>
            <ul>
                {% if not request.session.usuario_id %}
                <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
                <li><a href="{% url 'registro' %}">Registrarse</a></li>
                {% endif %}
                <li><a href="{% url 'crisis' %}">Crisis</a></li>
                <li><a href="{% url 'home' %}">Habilidades</a></li>
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
                {% if request.session.usuario_id %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="overlay" id="overlay"></div>
    </div>
</header>

<main class="configuracion">

    <h1>Configuración</h1>

    <section class="config-section">
        <h2>Datos</h2>
        <a href="{% url 'datos_personales' %}" class="config-item">Datos personales</a>
    </section>

    <section class="config-section">
        <h2>Seguridad</h2>
        <a href="#" class="config-item">Cambiar contraseña</a>
    </section>

    <section class="config-section">
        <h2>Cuenta</h2>
        <a href="{% url 'logout' %}" class="config-item cerrar-sesion">Cerrar sesión</a>
        <a href="#" class="config-item eliminar">Eliminar cuenta</a>
    </section>

</main>

<div class="modal" id="modal-eliminar">
            <div class="modal-content">

                <h2>¿Estas seguro/a de eliminar tu cuenta?</h2>
                <p>
                    Esta accion no se puede deshacer.
                    Tu cuenta sera eliminada permanentemente.
                </p>
                <div class="checkbox-group">
                    <input type="checkbox" id="confirmar-historial">
                    <label for="confirmar-historial">
                        Tambien deseo eliminar mi historial de crisis
                    </label>
                </div>
                <div class="modal-buttons">
                    <button class="btn-cancelar-modal">Cancelar</button>
                    <button class="btn-eliminar-modal">Eliminar cuenta</button>
                </div>
            </div>
</div>
<script src="{% static 'js/configuracion.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
</body>
{% endblock %}
