<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikari - Configuracion</title>
    <link rel="stylesheet" href="../../../public/css/style.css"
</head>
<body>
    <main class="configuracion">

    <h1>Configuración</h1>

    <section class="config-section">
        <h2>Datos</h2>
        <a href="datos_personales.html" class="config-item">Datos personales</a>
    </section>

    <section class="config-section">
        <h2>Seguridad</h2>
        <a href="#" class="config-item">Cambiar contraseña</a>
        <a href="#" class="config-item eliminar">Eliminar cuenta</a>
    </section>

    <section class="config-section">
        <h2>Preferencias</h2>
        <a href="#" class="config-item">Notificaciones</a>
        <a href="#" class="config-item">Tema de la app</a>
    </section>

    <section class="config-section">
        <h2>Cuenta</h2>
        <a href="#" class="config-item cerrar-sesion">Cerrar sesión</a>
    </section>

</main>
</body>
</html>