<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikari - Configuracion</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body class="fondo-configuracion">
    <main class="configuracion">

    <h1>Configuración</h1>

    <section class="config-section">
        <h2>Datos</h2>
        <a href="datos_personales.html" class="config-item">Datos personales</a>
    </section>

    <section class="config-section">
        <h2>Seguridad</h2>
        <a href="#" class="config-item">Cambiar contraseña</a>
        <a href="#" class="config-item eliminar">Eliminar cuenta</a>
    </section>

    <section class="config-section">
        <h2>Preferencias</h2>
        <a href="#" class="config-item">Notificaciones</a>
        <a href="#" class="config-item">Tema de la app</a>
    </section>

    <section class="config-section">
        <h2>Cuenta</h2>
        <a href="#" class="config-item cerrar-sesion">Cerrar sesión</a>
    </section>

</main>

<div class="modal" id="modal-eliminar">
            <div class="modal-content">

                <h2>¿Estas seguro/a de eliminar tu cuenta?</h2>
                <p>
                    Esta accion no se puede deshacer.
                    Tu cuenta sera eliminada permanentemente.
                </p>
                <div class="checkbox-group">
                    <input type="checkbox" id="confirmar-historial">
                    <label for="confirmar-historial">
                        Tambien deseo eliminar mi historial de crisis
                    </label>
                </div>
                <div class="modal-buttons">
                    <button class="btn-cancelar-modal">Cancelar</button>
                    <button class="btn-eliminar-modal">Eliminar cuenta</button>
                </div>
            </div>
</div>
<script> src="../public/js/configuracion.js"</script>
</body>
</html>