{% extends "base.html" %}


{% block content %}

<main class="nivel_malestar">
    <h1>Registrar nivel de malestar</h1>
    <h4>¿En qué nivel de malestar te encuentras?</h4>

    <div class="nivel-box">
        <span id="nivel-text">NIVEL 1</span>
    </div>

    <input type="range" min="1" max="10" value="1"
           class="slider" id="slider-malestar">

    <script>
        const slider = document.getElementById("slider-malestar");
        const texto = document.getElementById("nivel-text");

        slider.oninput = function() {
            texto.textContent = "NIVEL " + this.value;
        }
    </script>

    <div class="botones-navegacion">
        <a href="{% url 'home' %}" class="btn-regresar">Regresar</a>
        <button class="btn-continuar">Continuar</button>
    </div>

</main>

{% endblock %}
