<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/style.css">
    <title>Hikari - Crisis</title>
</head>

<body class="fondo-crisis">

    <main class="nivel_malestar">

        <!-- BOTÓN CASITA -->
        <button class="btn-home" id="btnHome">🏠</button>

        <h1>Registrar nivel de malestar</h1>
        <h4>¿En qué nivel de malestar te encuentras?</h4>

        <!-- CAJA DE NIVEL -->
        <div class="nivel-box" id="nivelBox">
            <span class="nivel-text" id="nivelText">NIVEL 1</span>
        </div>

        <!-- EMOJIS -->
        <div class="emoji-line" id="emojiLine">
            <span class="emoji">😁</span>
            <span class="emoji">😄</span>
            <span class="emoji">😊</span>
            <span class="emoji">🙂</span>
            <span class="emoji">😐</span>
            <span class="emoji">😑</span>
            <span class="emoji">😔</span>
            <span class="emoji">😣</span>
            <span class="emoji">😖</span>
            <span class="emoji">😭</span>
        </div>

        <!-- SLIDER -->
        <input 
            type="range"
            min="1"
            max="10"
            value="1"
            class="slider"
            id="sliderMalestar"
        >

        <!-- BOTÓN CONTINUAR -->
        <button class="btn-continuar" id="btnContinuar">Continuar</button>

    </main>

    <script src="../../../public/js/crisis.js"></script>
</body>
</html>
