<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Hikari - Crisis</title>
</head>
<body>
    <main class="nivel_malestar">
        <h1>Registrar nivel de malestar</h1>
        <h4>¿En que nivel de malestar te encuentras?</h4>
        <div class="nivel-box">
            <span class="nivel-text">NIVEL 1</span>
        </div>
        <div class="emoji-line">
            <span>😁</span>
            <span>😄</span>
            <span>😊</span>
            <span>🙂</span>
            <span>😐</span>
            <span>😑</span>
            <span>😔</span>
            <span>😣</span>
            <span>😖</span>
            <span>😭</span>
        </div>
        <div>
            <input 
            type="range"
            min="1"
            max="10"
            value="1"
            class="slider"
            id="slider-malestar"
            >
        </div>
    </main>
</body>
</html>