<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikari - Datos personales</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body class="fondo-datos_personales">
    <main class="datos-personales">

    <h1>Datos personales</h1>

    <form>

        <div class="form-group">
            <input type="text" id="nombres" name="nombres" required placeholder=" ">
            <label for="nombres">Nombres</label>
        </div>

        <div class="form-group">
            <input type="text" id="apellidos" name="apellidos" required placeholder=" ">
            <label for="apellidos">Apellidos</label>
        </div>

        <div class="form-group">
            <input type="email" id="correo" name="correo" required placeholder=" ">
            <label for="correo">Correo</label>
        </div>

        <div class="form-group">
            <input type="tel" id="telefono" name="telefono" required placeholder=" ">
            <label for="telefono">Teléfono</label>
        </div>

        <div class="botones-editar">
            <button class="btn-cancelar">Cancelar</button>
            <button class="btn-guardar">Guardar cambios</button>
        </div>

    </form>

</main>
</body>
</html>