<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikari - Ejercicio DBT</title>
    
    <!-- Ruta CSS -->
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>

<body class="fondo-ejercicio">
    <header class="header">
    <div class="menu container">
        <a href="{% url 'home' %}" class="logo"><img src="{% static 'imagenes/logo-alt-light-transparent.png' %}" class="logo"></a>

        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="{% static 'imagenes/menu.png' %}" class="menu-icono" alt="Menú">
        </label>

        <nav class="navbar">
                <div class="nav-logo">
                    <img src="{% static 'imagenes/logo-alt-dark-transparent.png' %}" alt="Hikari">
                </div>
            <ul>
                {% if not request.session.usuario_id %}
                <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
                <li><a href="{% url 'registro' %}">Registrarse</a></li>
                {% endif %}
                <li><a href="{% url 'crisis' %}">Crisis</a></li>
                <li><a href="{% url 'home' %}">Habilidades</a></li>
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
                {% if request.session.usuario_id %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="overlay" id="overlay"></div>
    </div>
</header>

    <!-- Botones superiores -->
    <div class="top-buttons">
        <img src="../../../public/img/regreso.png" class="btn-back" alt="Regresar">
        <img src="../../../public/img/home.png" class="btn-home" alt="Inicio">
    </div>

    <main class="ejercicio-container">

        <h2 id="titulo-habilidad"></h2>

        <p id="descripcion-habilidad" class="descripcion"></p>

        <ul id="lista-pasos" class="lista-pasos"></ul>

        <button id="btnSiguiente" disabled class="btn-ejercicio">
            Siguiente
        </button>

    </main>

    <!-- Script -->
    <script src="../../../public/js/ejercicio.js"></script>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>

</body>
</html>