<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikari - Ejercicio DBT</title>

    <!-- CORREGIDO: cierre de comillas -->
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>

<body class="fondo-ejercicio">
    <header class="header">
    <div class="menu container">
        <a href="{% url 'home' %}" class="logo"><img src="{% static 'imagenes/logo-alt-light-transparent.png' %}" class="logo"></a>

        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="{% static 'imagenes/menu.png' %}" class="menu-icono" alt="Menú">
        </label>

        <nav class="navbar">
                <div class="nav-logo">
                    <img src="{% static 'imagenes/logo-alt-dark-transparent.png' %}" alt="Hikari">
                </div>
            <ul>
                {% if not request.session.usuario_id %}
                <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
                <li><a href="{% url 'registro' %}">Registrarse</a></li>
                {% endif %}
                <li><a href="{% url 'crisis' %}">Crisis</a></li>
                <li><a href="{% url 'home' %}">Habilidades</a></li>
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
                {% if request.session.usuario_id %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="overlay" id="overlay"></div>
    </div>
</header>

    <main class="ejercicio-container">

        <!-- Flecha Regresar -->
        <button class="btn-back" id="btnBack">⬅</button>

        <!-- Botón Home -->
        <button class="btn-home" id="btnHome">🏠</button>

        <h1 id="titulo-habilidad">Cargando...</h1>
        <p id="descripcion-habilidad"></p>

        <ul id="lista-pasos" class="pasos-lista">
            <!-- Se cargan con JS -->
        </ul>

        <button class="btn-continuar" id="btnSiguiente" disabled>
            Siguiente
        </button>

    </main>

    <!-- CORREGIDO: la forma en que colocaste el script -->
    <script src="../../../public/js/ejercicio.js"></script>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>

