<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikari - Evaluacion</title>
    <link rel="stylesheet" href="../../../public/css/style.css">

</head>
<body class="fondo-evaluacion">
    
    <main class="evaluacion-container">
        <h2>¿Como te sientes ahora?</h2>
        <p class="evaluacion-texto">
            Queremos acompañarte, ¿Sientes alguna mejoria despues del ejercicio?
        </p>
        <div class="evaluacion-botones">
            <button id="btnMejor" class="btn-mejor">Estoy mejor</button>
            <button id="btnSiguientePaso" class="btn-sig">Siguiente</button>
        </div>
    </main>
    <script src="../../../public/js/evaluacion.js"></script>
</body>
</html>