{% extends "base.html" %}

{% load static %}

{% block content %}
<body class="fondo-home">

<header class="header">
    <div class="menu container">
        <a href="{% url 'home' %}" class="logo"><img src="{% static 'imagenes/logo-alt-light-transparent.png' %}" class="logo"></a>

        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="{% static 'imagenes/menu.png' %}" class="menu-icono" alt="Menú">
        </label>

        <nav class="navbar">
                <div class="nav-logo">
                    <img src="{% static 'imagenes/logo-alt-dark-transparent.png' %}" alt="Hikari">
                </div>
            <ul>
                {% if not request.session.usuario_id %}
                <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
                <li><a href="{% url 'registro' %}">Registrarse</a></li>
                {% endif %}
                <li><a href="{% url 'crisis' %}">Crisis</a></li>
                <li><a href="{% url 'home' %}">Habilidades</a></li>
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
                {% if request.session.usuario_id %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="overlay" id="overlay"></div>
    </div>
</header>
<section class="hero-hikari">
    <div class="hero-blur-layer"></div>

    <div class="hero-inner">

    <!-- MOCKUP A LA IZQUIERDA -->
    <div class="mockup-wrapper">
        <div class="mockup">
            <img src="{% static 'imagenes/mockup.png' %}" class="mockup-img" alt="Mockup Hikari">
            <img src="{% static 'imagenes/hikari.gif' %}" class="mockup-video"></img>
        </div>
    </div>

    <!-- TEXTO A LA DERECHA -->
    <div class="texto-presentacion">
        <h1 class="titulo-hikari">HIKARI</h1>
        <p class="subtitulo-hikari">Luz y esperanza</p>

        <p class="descripcion-hikari">
            Una herramienta diseñada para acompañarte en los momentos más difíciles,
            ayudándote a regular tus emociones con apoyo guiado y basado en habilidades DBT.
        </p>
    </div>

</div>
</section>


<main class="main-content container">

    <h1>Bienvenido/a a Hikari</h1>

    <h4>¿Cómo te sientes hoy?</h4>
    
    {% if usuario_logeado %}
    <section class="crisis-content">
        <h5>Crisis inmediata</h5>

        <p>
            Entra directamente al flujo de crisis para estimar tu malestar y recibir guía paso a paso.
        </p>


        <a href="{% url 'crisis' %}">
            <button type="button" class="btn-crisis">Ir a Crisis</button>
        </a>
    </section>

    <section class="habilidades-content">
        <h5>Habilidades DBT</h5>

        <p>
            Explora y practica habilidades DBT para regular emociones, tolerar el malestar y mejorar tu bienestar.
        </p>
        <a href="{% url 'home' %}">
            <button type="button" class="btn-habilidades">Ir a Habilidades</button>
        </a>
    </section>

    {% endif %}
</main>


<footer class="footer">

    <div class="footer-container">

        <div class="footer-row">

            <!-- IZQUIERDA -->
            <div class="footer-left">
                <img src="{% static 'imagenes/logo-light-transparent.png' %}" 
                     alt="Hikari" class="footer-logo">
            </div>

            <!-- CENTRO: Links -->
            <div class="footer-center">
                <a href="{% url 'home' %}">Inicio</a>
                <a href="{% url 'crisis' %}">Crisis</a>
                <a href="{% url 'perfil' %}">Perfil</a>
                <a href="{% url 'error404' %}">Error 404</a>
                <a href="{% url 'error500' %}">Error 500</a>
            </div>

            <!-- DERECHA: Redes Sociales -->
            <div class="footer-right">
                <p>Creado por SCRUM 1</p>

                <div class="footer-socials">
                    <a href="https://www.instagram.com/trascender_ips/" class="social-icon" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/cptrascender/" class="social-icon" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/trascender-centro-psicol-gico/?originalSubdomain=co" class="social-icon" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://cptrascender.com/nosotros/" class="social-icon" target="_blank"><i class="fa-brands fa-chrome"></i></a>
                </div>
            </div>

        </div>

    </div>

    <!-- BANDA INFERIOR -->
    <div class="footer-bottom">
        <p>© 2025 Hikari — Luz y Esperanza</p>
    </div>

</footer>


<script src="{% static 'js/home.js' %}"></script>


</body>
{% endblock %}



