<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikari - Perfil</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body>
    <main class="perfil">

    <div class="perfil-header">
        <img src="../../../public/img/profile.png" alt="Foto de usuario" class="avatar">
        <h1 class="perfil-nombre">Nombre del Usuario</h1>
        <p class="perfil-correo">correo@ejemplo.com</p>
    </div>

    <div class="perfil-opciones">
        <a href="configuracion.html" class="perfil-item">Configuración</a>
        <a href="#" class="perfil-item">Historial de malestar</a>
        <a href="#" class="perfil-item">Estadísticas</a>
    </div>

</main>
</body>
</html>