
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
    <div class="menu container">
        <a href="#" class="logo" >Logo</a>
        <input type="checkbox" id="menu"/>
        <label for="menu">
            <img src="" class="menu-icono" alt="">
        </label>
        <nav class="navbar">
            ><ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Crisis</a></li>
                <li><a href="#">Habilidades</a></li>
                <li><a href="#">Perfil</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-
    content container">
        <h1>Bienvenidos a Hikari</h1>
        <h4>¿Como te sientes?</h4>
        <div class="crisis-content container">
            <h5>Crisis Inmediata</h5>
        <p>
            Te brindamos la siguiente opcion de "crisis inmediata",
            entraras de manera directa a registrar tu nivel de malestar.
        </p>
        <a href="crisis_inmediata.html">
            <button type="button" class="btn-crisis">Ir a Crisis</button>
        </a>
        </div>
        <div class="habilidades-content container">
            <h5>Habilidades</h5>
        <p>
            Te brindamos la siguiente opcion de "crisis inmediata",
            entraras de manera directa a registrar tu nivel de malestar.
        </p>
        <a href="habilidades.html">
            <button type="button" class="btn-habilidades">Ir a Habilidades</button>
        </a>
        </div>
    </div>
    </header>
</body>
</html>